<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>..:: Prodajalna pesmi ::..</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function preveriPredPosiljanjemNaStreznik() {
          var pogoj = true;
          
          //var x = $( ".form-control" ).css( "border", "3px solid red" );
            var testimonialElements = $(".form-control");
        for(var i=0; i<testimonialElements.length; i++){
            var element = testimonialElements.eq(i);
                if( element.length == 0){
                    pogoj =false;
                }
        }
          if(pogoj == false){
           $("#Help").html("Prosim vnesite vse vrednosti v obvezna polja!");
          }
          
        return pogoj;
      }
    </script>
  </head>

  <body>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
          <div id="stranke">
                <form action="" method="post" enctype="multipart/form-data" onsubmit="return preveriPredPosiljanjemNaStreznik();">
                <div class="form-group">
                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Ime" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Priimek" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Company" name="Company" placeholder="Podjetje" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Naslov" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="City" name="City" placeholder="Mesto" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="State" name="State" placeholder="Okrožje" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Country" name="Country" placeholder="Država" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" placeholder="Poštna številka" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Telefon" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Fax" name="Fax" placeholder="Faks" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="E-pošta" />
                </div>
                <div class="form-group">
                    <p class="help-block" id= "Help"><%= sporocilo %></p>
                    <input type="submit" class="btn btn-default" value="Registracija" />
                </div>
              </form>
          </div>
        </div>

        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
          <div id="seznam1">
                <form action="/stranka" method="post" enctype="multipart/form-data" target="_blank">
                <div class="form-group">
                    <select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
                        <% seznamStrank.forEach(function(stranka) { %>
                          <option value="<%= stranka.CustomerId %>" selected>
                              <%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %>
                          </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Izbira stranke" />
                </div>
              </form>
          </div>
          <br />
          <h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
          <div id="seznam2">
                <form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data" target="_blank">
                <div class="form-group">
                    <select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
                        <% seznamRacunov.forEach(function(racun) { %>
                          <option value="<%= racun.InvoiceId %>" selected>
                              <%= racun.Naziv %>
                          </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Izbira računa" />
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
   </body>
</html>
